#services {
    @extend .py-10;
    @extend .bg-primary;
    
    .intro-section{
        @extend .text-center;
    h1 {
        @extend .text-primary;
        @extend .text-white;
    }
    p {
        @extend .lead;
        @extend .text-white;
        @extend .mb-5;
        

    }
}
    
  
      ul.list-unstyled {

      .service-item{
        @extend .d-flex; 
        @extend .align-items-start ;
        @extend .mb-3;
        @extend .p-2;
        @extend .rounded;
        svg{
          @extend .me-2; 
          @extend .text-white;        
          width: 24px; 
          height: 24px;
        }
        transition: all 0.3s ease-in-out;

        &:hover{
          @extend .rounded;
          @extend .bg-light;
           @extend .ps-3;
            svg, span{          
              @extend .text-primary;                
            }

        }
      }

    }
}

  