.over-title {
  @extend .text-primary;
  @extend .fw-semibold;
  @extend .fs-6;
  @extend .text-uppercase;
  @extend .mb-3;
}

.title {
  @extend .display-2;
  @extend .text-uppercase;
  @extend .fw-semibold;
  @extend .fs-2;
  @extend .mb-4;
}

.wysiwyg {
  font-size: $fs-xs !important;
}
p {
  strong {
    font-size: $fs-xs;
  }
  font-size: $fs-xs;
}

.lead {
  font-size: $fs-xs;
}

.btn-krom {
  @extend .btn;
  @extend .btn-primary;
  @extend .text-white;
  @extend .fs-6;
  @extend .hvr-radial-out;
  border-radius: $btn-border-radius;
  box-shadow: 0 1px 4px 0 rgba(25, 33, 61, 0.08);
  padding: 14px;
  margin-top: 24px;
  font-family: $font-primary;
  .lucide {
    width: 0.875rem;
    height: 0.875rem;
  }
}

.btn-krom:not(.active):active {
  background-color: darken($primary, 20%);
}

.btn-primary-krom {
  @extend .btn-primary;
  @extend .text-white;
  font-family: $font-primary;
  @extend .hvr-radial-out;
  border-radius: $btn-border-radius;
}

.img-krom {
  @extend .img-fluid;
  border-radius: $image-border-radius;
}
.transition {
  transition: all 0.2s ease-in-out;
}

.m-block {
  margin: 6rem 0;
}

.m-krom {
  margin-top: 9.35rem;
}
.m-krom-title {
  margin-top: 5rem;
}

.img-krom-wrapper {
  position: relative;
  box-sizing: content-box;
  &::after {
    content: "";
    @extend .d-block;
    @extend .z-1;
    background-color: $primary;
    position: absolute;
    border-radius: 0.125rem;
  }
}

.img-krom-wrapper {
  &.type-1 {
    &::after {
      top: 15%;
      left: -1.25rem;
      width: 2.5rem;
      height: 45%;
    }
  }

  &.type-2 {
    &::after {
      top: 15%;
      right: -1.25rem;
      width: 2.5rem;
      height: 45%;
    }
  }

  &.type-3 {
    &::after {
      top: -1.25rem;
      right: -1.25rem;
      width: 45%;
      height: 2.5rem;
    }
  }

  &.type-4 {
    &::after {
      display: none !important;
    }
  }

  &.type-5 {
    &::after {
      top: -1.25rem;
      left: -1.25rem;
      width: 45%;
      height: 2.5rem;
    }
  }

  &.type-7 {
    &::after {
      top: 15%;
      left: 2.5rem;
      width: 2.5rem;
      height: 45%;
    }
  }

  &.type-8 {
    &::after {
      display: none;
    }
  }
}

.container-krom {
  @extend .container-fluid;
  padding: 0 7.5rem;
}

.carousel-control-prev {
  left: -5%;
  @include media-breakpoint-down(md) {
    left: 0;
  }
  @include media-breakpoint-down(sm) {
    left: 0;
  }
}

.carousel-control-next {
  right: -5%;
  @include media-breakpoint-down(md) {
    right: 0;
  }
  @include media-breakpoint-down(sm) {
    right: 0;
  }
}

.custom-orange {
  color: $primary;
}
.bg-dark-gray {
  background-color: #2c3e50;
}
.card-download-links a {
  font-size: 0.875rem;
  color: #6c757d;
  text-decoration: none;
}
.card-download-links i {
  font-size: 1.25rem;
  color: #6c757d;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-control-prev,
.carousel-control-next {
  &:hover {
    opacity: 0.5;
  }
  opacity: 1;
  transition: opacity 0.15s ease;
}

.bg-secondary-krom {
  background-color: $body-color-title;
}

.bg-dark-krom {
  background-color: $dark-krom;
}

.fs-sm {
  ul,
  ol {
    font-size: $fs-xs !important;
  }
}

.text-dark {
  color: #2c3e50 !important;
}

.bg-light-gray {
  background-color: $body-bg;
}
